<!-- 
  Create tabs with an icon and label, using the tabs-positive style. 
  Each tab's child <ion-nav-view> directive will have its own 
  navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-assertive tabs-background-positive">


  <!-- Eventos Tab -->
  <ion-tab title="Eventos" icon="icon ion-calendar" href="#/tab/eventos">
    <ion-nav-view name="tab-eventos"></ion-nav-view>
  </ion-tab>


  <!-- Locales Tab -->
  <ion-tab title="Locales" icon="icon ion-beer" href="#/tab/locales">
    <ion-nav-view name="tab-locales"></ion-nav-view>
  </ion-tab>


  <!-- Grupos Tab -->
  <ion-tab title="Grupos" icon="icon ion-music-note" href="#/tab/grupos">
    <ion-nav-view name="tab-grupos"></ion-nav-view>
  </ion-tab>
  
  <!-- Config Tab -->
  <ion-tab title="Configuración" icon="icon ion-gear-b" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>


</ion-tabs>
